body{
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    background-image: url(assets/thor\ com\ os\ 2\ martelo.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    height: 300px;
    width: 500px;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 35px;

}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75;
    padding: 10px;
    background-color: rgb(97, 255, 255);
    color: black;
}
h3{
    font-size: 45;
}
p{
    font-size: 25;
}
footer{
    color: rgb(97, 255, 255);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}