body{
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    background-image: url(assets/thor-fundo4.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    height: 300px;
    width: 500px;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 35px;

}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75;
    padding: 10px;
    background-color: rgb(97, 255, 255);
    color: black;
}
h3{
    font-size: 45;
}
p{
    font-size: 25;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(97, 255, 255);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 40px;
    width: 1250;
    padding: 30;
    h1{
        background-color: rgb(255, 0, 0);
        color: antiquewhite;
    }
    p{
        color: black;

    }
    img{
        width: 1024;
        height: 1024;
    }
}